.about_cover {
  background-image: url("../images/background_history.jpg");
}

.main-intro-text {
  align-items: right;
  background-color: #103444;
  opacity: 0.8;
  margin: auto;
  padding: 15px;
  max-width: 360px;
  box-shadow: 2px 5px 25px 0 rgb(0 0 0 / 50%);
  border-radius: 6px;
  color: #ffffff;
  position: relative;
  top: 250px;
  z-index: 1;
}

p {
  text-align: center;
}
