.checkout {
  max-width: 1000px;
  margin: 50px auto;
}

.delivery-alternatives {
  border-radius: 50px;
}

.delivery-information a {
  margin: 0px;
  padding: 0px;
  background-color: white;
  color: #2669c5;
  border: none;
  font-weight: bold;
}

.form-wrapper-delivery {
  text-align: left;
}

.form-wrapper-delivery > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}
