.new-arrivals_container,
.activities_content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
}

.new-arrivals_content,
.activities_content {
  display: block;
  padding: 20px;
  font-weight: bold;
  border-radius: 5px;
  margin: 10px;
}
