.new-arrivals,
.activities {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1000px;
  margin: 50px auto;
  gap: 10px;
}

.new-arrivals h1,
.activities h2 {
  grid-column: -1/1;
}

.new-arrivals img,
.activities img {
  width: 100%;
  margin-top: 10px;
}
