@media (min-width: 600px) {
  .main-intro {
    background-position: 0;
  }

  .main-intro-text {
    margin: 0 5% 0 30%;
  }

  .product-image {
    width: 43%;
  }

  .main {
    width: 600px;
    margin: 0 auto;
  }

  .contact_container {
    flex-direction: row;
    align-items: stretch;
  }
}

@media (min-width: 800px) {
  .menu-btn {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  header img {
    width: 200px;
    margin-left: 20px;
  }

  nav {
    display: block;
    position: static;
    background: none;
  }

  nav li {
    display: inline-block;
    padding: 10px;
    color: black;
  }

  .cta {
    padding: 10px 60px;
  }

  .main-intro-text {
    margin: 0 5% 0 50%;
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .product-specific {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
  }

  .product-specific__details {
    padding: 0px 30px;
  }

  .thumbnails-section {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .product-image_thumbnails {
    flex-direction: column;
    display: block;
    margin: 0px 50px;
    gap: 5px;
    max-width: 50%;
  }

  .product-specific__details a {
    margin: 0px 20px;
  }

  .contact_container {
    justify-content: center;
  }
}

@media (min-width: 1250px) {
  .main-intro-text {
    margin: 0 5% 0 65%;
  }

  .home_woman_cover {
    height: 571;
  }

  .main, .main-products {
    width: 900px;
    margin: 0 auto;
  }
  
}
