@media (min-width: 600px) {
  header img {
    width: 200px;
  }

  .main-intro {
  }

  .products_content,
  .blog_content {
    max-width: 455px;
  }

  .product-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .similar-items_list {
    grid-template-columns: repeat(5, 1fr);
  }

  .contact_container {
    flex-direction: row;
    align-items: stretch;
  }
}

@media (min-width: 800px) {
  .menu-btn {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  nav {
    display: block;
    position: static;
    background: none;
  }

  nav li {
    display: inline-block;
    padding: 10px;
    color: black;
  }

  .products_container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .blog_container {
    justify-content: center;
  }

  .cta {
    padding: 10px 60px;
  }

  .product-specific {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
  }

  .product-specific__details {
    padding: 0px 30px;
  }

  .thumbnails-section {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .product-image_thumbnails {
    flex-direction: column;
    display: block;
    margin: 0px 50px;
    gap: 5px;
    max-width: 50%;
  }

  .product-specific__details a {
    margin: 0px 20px;
  }

  .cart_content img {
    max-width: 350px;
    max-height: 350px;
  }

  .contact_container {
    justify-content: center;
  }
}
