@media (min-width: 600px) {
    .new-arrivals {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .activities img {
      max-width: 100%;
    }
  
    .product-list {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  
  @media (min-width: 800px) {
    .new-arrivals {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .activities {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  
    nav {
      display: block;
      position: static;
    }
  
    nav li {
      display: inline-block;
      padding: 0px;
    }
  
    header label {
      display: none;
    }
  
    .cta {
      padding: 10px 60px;
    }
  
    .activities img {
      max-height: 218px;
      max-width: 100%;
    }
  
    .product-specific {
      flex-direction: row;
      margin: 50px auto;
    }
  
    .footer-content {
      text-align: center;
      padding: 20px;
    }
  
  }
  
  @media only screen and (min-width: 801px) and (max-width: 1000px) {
    .activities img {
      max-height: 178px;
    }
  }
  