.jackets {
  max-width: 1000px;
  margin: auto;
}

.product-list {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.product-list p {
  font-weight: bold;
}

.items img {
  width: 100%;
  margin-top: 10px;
}
