.product-spec-page_h1 {
    text-align: left;
  }
  
  .product-specific {
    display: flex;
    max-width: 1000px;
    margin: 0px auto;
    flex-direction: column;
  }
  
  .product-specific > * {
    flex: 1;
  }
  
  .product-specific__details {
    padding: 0px 30px;
  }
  
  .product-specific__details a {
    display: block;
    margin: 0px 80px;
    text-align: center;
  }
  
  .product-specific__price {
    font-size: 1.5em;
  }
  
  .product-image {
    width: 100%;
  }
  
  .product-image_thumbnails {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5px;
  }
  