.main {
	padding: 20px;
	text-align: center;
}	

.sorting {
  padding: 10px;
}

.product-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

img a:hover {
  background: none;
}

.product_card {
  background: white;
  box-sizing: content-box;
  margin: 30px 10px;
  width: 200px;
  height: max-content;
  text-align: center;
  padding-bottom: 20px;
}

.price {
  padding: 0 10px;
}
