.main {
	padding: 20px;
	text-align: center;
}	

.sorting {
  padding: 10px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

img a:hover {
  background: none;
}

.product_card {
  background: lightgray;
  box-sizing: content-box;
  margin: 30px 10px;
  width: 200px;
  height: max-content;
  text-align: center;
  padding-bottom: 20px;
}
