@font-face {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2 {
  font-family: "Domine", serif;
}

header {
  display: flex;
  align-items: center;
}

nav {
  margin-left: 25px;
}

header,
footer {
  background-color: white;
  color: black;
}

Nav ul {
  padding: 0px;
}

nav li {
  display: inline-block;
}

/* Links */

a {
  text-decoration: none;
}

header a,
footer a {
  color: black;
  padding: 10px;
}

.logo-size {
  height: 40px;
}

.cta {
  background-color: #4689bd;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px 80px;
  border-radius: 5px;
}

.cta-small {
  padding: 8px 30px;
  font-size: 0.8em;
  grid-column: 2;
  grid-row: 2;
  min-width: 51.2px;
  text-align: center;
  margin-top: 5px;
}

.active {
  text-decoration: underline;
}

.products {
  background-color: #fbfbfb;
}

.footer-content {
  text-align: center;
  padding: 20px;
}

.copyright {
  background-color: lightgray;
}

/* Home page */

.new-arrivals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1000px;
  margin: 50px auto;
  grid-gap: 10px;
}

.new-arrivals h1,
.activities h1 {
  grid-column: -1/1;
}

.new-arrivals img,
.activities img {
  width: 100%;
}

.new-arrivals h2,
.activities h2 {
  font-size: 1em;
}

.activities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1000px;
  margin: 50px auto;
  grid-gap: 10px;
}

.activities img {
  max-height: 218px;
  border-radius: 20px;
}

/* contact */

input,
select,
textarea {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

textarea {
  height: 65%;
}

.contact {
  max-width: 1000px;
  margin: 50px auto;
  text-align: center;
}

.form-wrapper {
  display: flex;
  text-align: left;
}

.form-wrapper > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* about page */

.about {
  background-image: url("../images/background_history.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 70vh;
}

.about_details {
  max-width: 1000px;
  margin: 50px auto;
  text-align: center;
}

/* Product spec page */
.product-specific {
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
}

.product-specific > * {
  flex: 1;
}

.product-specific__details {
  padding: 0px 30px;
}

.product-specific__details a {
  display: block;
  margin: 0px 80px;
  text-align: center;
}

.product-specific__price {
  font-size: 1.5em;
}

.product-image {
  width: 100%;
}

.product-image_thumbnails {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 5px;
}

/* Jackets */

.jackets {
  max-width: 1000px;
  margin: auto;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 20px;
}

.products img {
  width: 100%;
}
