@import "imports/links.css";
@import "imports/variables.css";

@font-face {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

body {
  font-family: var(--text-paragraph), sans-serif;
  min-height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2 {
  font-family: var(--text-header), serif;
}

h1,
h2 {
  text-align: center;
}

h3 {
  font-size: 1em;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav {
  margin-left: 25px;
  display: none;
  position: fixed;
  top: 45px;
  background-color: var(--color-header-footer);
  z-index: 1000;
  right: 0px;
}

header,
footer {
  background-color: var(--color-header-footer);
  color: black;
}

Nav ul {
  padding: 0px;
}

nav li {
  display: block;
  padding: 20px 30px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

h3 {
  margin-left: 20px;
}

.products {
  background-color: #fbfbfb;
}

.footer-content {
  text-align: center;
}

.copyright {
  background-color: lightgray;
}
