@import "imports/links.css";
@import "imports/variables.css";

@font-face {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

body {
  font-family: var(--text-paragraph), sans-serif;
  font-size: 16px;
  min-height: 100vh;
  margin: 0px auto;
}

h1,
h2 {
  font-family: var(--text-header), serif;
  text-align: center;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 18px;
}

.main {
  padding: 20px;
}

.main img {
  width: 100%;
  border-radius: 5px;
}

/*header*/

header img {
  width: 120px;
  margin: 30px;
}

.logo {
  padding: 10px;
}

nav {
  margin-left: 25px;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1000;
  right: 0px;
  text-align: center;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
  padding: 20px 30px;
}

nav li span {
  padding-left: 5px;
}

#menu-icon {
  display: none;
}

.menu-btn {
  font-size: 30px;
  float: right;
  margin: 30px;
  cursor: pointer;
}

#menu-icon:checked ~ nav {
  display: block;
}

.cart i {
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}

header,
footer,
nav {
  background: white;
  color: black;
}

/*footer*/

footer {
  display: block;
  background-color: black;
  color: white;
  margin-top: 20px;
}

footer h3,
footer p {
  color: white;
}

footer img {
  width: 150px;
}

.footer-container {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
}

.footer_column {
  margin: 0 10px;
  min-width: 200px;
  padding: 10px;
}

.copyright {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
}

/*social media*/

.social-media {
  display: block;
}

.social-media h3 {
  margin-left: 0px;
  color: #2669c5;
}

.fab {
  width: 20px;
  text-align: center;
  border-radius: 5px;
}

.fa-facebook-square {
  background: #3b5998;
  color: white;
}

.fa-youtube {
  background: red;
  color: white;
}

.fa-instagram {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: white;
}
