@import "imports/links.css";
@import "imports/variables.css";

@font-face {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

body {
  font-family: var(--text-paragraph), sans-serif;
  min-height: 100vh;
  margin: 0px 10px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2 {
  font-family: var(--text-header), serif;
}

h1,
h2 {
  text-align: center;
}

h3 {
  font-size: 1em;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav {
  margin-left: 25px;
  display: none;
  position: fixed;
  top: 45px;
  background-color: var(--color-header-footer);
  z-index: 1000;
  right: 0px;
}

header {
  background-color: var(--color-header-footer);
  color: black;
}

Nav ul {
  padding: 0px;
}

nav li {
  display: block;
  padding: 20px 30px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.products {
  background-color: #fbfbfb;
}

/*footer*/

.footer {
  background-color: lightgray;
  color: black;
  margin-top: 20px;
}

.footer-content {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 30px auto;
}

.footer-content > * {
  flex: 1;
}

.footer-content ul {
  padding: 0px;
}

.footer-content li {
  display: block;
  padding-left: 20px;
}

.copyright {
  text-align: center;
  margin-bottom: 20px;
}

/*social media*/

.social-media {
  display: block;
  margin-right: 20px;
}

.social-media h3 {
  margin-left: 0px;
  color: #2669c5;
}

.fab {
  width: 20px;
  text-align: center;
  border-radius: 5px;
}

.fa-facebook-square {
  background: #3b5998;
  color: white;
}

.fa-youtube {
  background: red;
  color: white;
}

.fa-instagram {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: white;
}
