a {
  text-decoration: none;
  cursor: pointer;
}

nav ul li a,
footer a {
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.active,
a:hover {
  background: #103444;
  color: white;
  transition: 0.5s;
  border-radius: 3px;
}

header a {
  color: black;
}

footer a {
  display: block;
  max-width: 100px;
  color: white;
}

.cta {
  background-color: #103444;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px 40px;
  border-radius: 5px;
}

.cta-small {
  padding: 8px 30px;
  font-size: 0.8em;
  grid-column: 2;
  grid-row: 2;
  min-width: 51.2px;
  text-align: center;
  margin-top: 5px;
}

.cta-white {
  background-color: white;
  color: #103444;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0px;
  padding: 10px 40px;
  border-radius: 5px;
}
